<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File"
              layout="[${shortdate}][${level:uppercase=true}][${logger}]${event-context:item=Command}${event-context:item=RequestedBy} ${message}"
              fileName="logs\DeeJayLog-${shortdate}.txt"
              archiveFileName="logs\old\DeeJayLog-${shortdate}.txt"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="30">
      </target>
      <target name="console" xsi:type="Console"
              layout="[${level:uppercase=true}][${logger}]${event-context:item=Command}${event-context:item=RequestedBy} ${message}"
              writebuffer="true">
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="file" minlevel="Debug" />
      <logger name="*" writeTo="console" minlevel="Info" />
    </rules>
  </nlog>
</configuration>