<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File"
              layout="[${shortdate}][${level:uppercase=true}][${logger}]${message}"
              fileName="logs\DeeJay_Log.txt"
              archiveFileName="C:\logs\archives\app-log.{#}.txt"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7" />
      <target name="console" xsi:type="Console"
              layout="[${level:uppercase=true}][${logger}]${message}"
              writebuffer="true" />
    </targets>
    <rules>
      <logger name="*" writeTo="file" minlevel="Debug" />
      <logger name="*" writeTo="console" minlevel="Info" />
    </rules>
  </nlog>
</configuration>